<div>
    <div>
        {%if product.image %}
    <div>
        <img src="{{product.image.url}}" height='100px' width="100px" alt="no">
    </div>
    {% else %}
    <div>No Image</div>
    {% endif %}
    </div>
    <div>
        <h1>{{product.name}}</h1>
        <h6>Rating:{{product.rating}}</h6>
        <h4>price:{{product.price}}</h4>
        <form action="{% url 'handil_action' product.id %}" method="post">
            {% csrf_token %}
            
            <div><input type="number" name="quantity" min="1" value="1"></div>

            <button type="submit" name="action" value="cart">Add To Cart</button>
            <button type="submit" name="action" value="order">Order Now</button>
        </form>
    </div>
</div>



