<h1>Cart</h1>
<div>
    {% for i in products%}
    <div>
        <div>
            <div>
                <div><img src="{{i.product.image.url}}" width="100px" height="100px" alt="no"></div>
                <div>
                    <form action="{% url 'add_cart' i.product.id %}" method="post" >
                        {% csrf_token %}
                        <button type="submit">+</button>
                    </form>
                    <div
                        style="width: 10px;height: 10px;border: 2px solid #333;background-color: #f2f2f2;padding: 15px;margin: 10px;border-radius: 8px;text-align: center;">
                        {{i.quantity}}
                    </div>
                    <form action="{% url 'remove' i.id %}" method="post" >
                        {% csrf_token %}
                        <button type="submit" {% if i.quantity <= 1 %}disabled{% endif %}>
                            -
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <h3>{{i.product.name}}</h3>
            <p>{{i.product.price}}</p>
        </div>
        <div>
            <a href="{% url 'remove' i.id %}">
                <button>Remove</button>
            </a>
            <a href="{% url 'cart_checkout_id' i.product_id%}">
                <button>By Now</button>
            </a>
        </div>
    </div>
    {% endfor %}
    <div>
        <button>
            <a href="{% url 'cart_checkout'%}">
                Place Order
            </a>
        </button>
    </div>
    
</div>
